{% extends 'base.html.twig' %}
{% block body %}
    <table>
        <tr>
            <td><h1>Cześć {{ user }}!</h1> <br/></td>

        </tr>
        <tr>
            <td>
                <p>Gratulujemy rejestracji, teraz tylko potwierdź swoją tożsamość klikając na ten link: -LINK-</p>
            </td>
        </tr>

    </table>
{% endblock %}